:root{
    --primaryColor: #ff274b;
    --secondaryColor: #f7bcf7;
    --lightColor: #ffffff;
    --bgColor-1: #171a1c;
    --bgColor_2: #22282a;
    --padding: 8%;
}


* {
     margin:  0;
     padding: 0;
     box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}

.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

span{
    color: var(--primaryColor)
}

h2{
font-size: 2.2rem;
letter-spacing: 0.12rem;
cursor: pointer;
}

nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a {
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover{
color: var(--primaryColor)
}

.btn {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}

.content{
    margin-left: 8%;
    margin-top: 12%;
}
.content .img img {
    width: 435px;
    border-radius: 5000px;
}

.container-texts{
    position: relative;
    bottom: 70px;
}

h1 { 
    font-size: 4.65rem;
    margin: 1.7rem 0;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--primaryColor)
}

.social {
    margin-top: 3.5rem;
}

.social img {
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover{
    transform: scale(1.2);
}

.container-images {
    width: 30px;
    height: 30px;
}

.content .img {
    width: 45%;
    height: 105%;
    position: absolute;
    bottom: 0px;
    right: 10%;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

/* About Start */
#about, 
#skills {
    background-color: #171a1c;
    padding: 6rem 0;
}

#about h2, 
#skills h2 {
    text-align: center;
    font-size: 38px;
    color: var(--lightColor);
    font-weight: 600;
}

#about hr, 
#skills hr {
    width: 100px;
    height: 3px;
    background-color: var(--primaryColor);
    border: none;
    margin: 5px auto 0;
}

#about .about-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}

#about .about-content .col-1 h3 {
    font-size: 28px;
    color:var(--lightColor);
}

#about .about-content .col-1 p {
    color: var(--primaryColor);
    line-height: 1.8;
}

#about .about-content .col-2 p {
    color: var(--lightColor);
    margin-bottom: 20px;
    padding-bottom: 5px;
    
    border-bottom: 1px solid #ff274b;
}

/* About End */

/* Skills Start */

#skills .skills-content {
    margin-top: 2rem;
    background-color: #22282a;
}

#skills .skills-content .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
}

#skills .skills-content .row .item {
    color: #ffffff;
    background-color: #680000;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
}

#skills .skills-content .row .item:hover {
    box-shadow: 10px 10px 10px #171a1c;
}

#skills .row img {
    max-width: 40px;
}

/* Skills End */

/* Tablet Responsiv */
@media(max-width: 768px) {
    nav {
        display: block;
        text-align: center;
    }

    nav ul li {
        margin-top: 20px;
        margin: 0 48px;
    }
    

    .container-texts{
        bottom: 0px; 
    } 

    nav ul {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    nav > a {
        display: none;
    }

    .content .img {
        display: none;
    }

    nav ul li a {
        margin: 9px;
    }

    #about .about-content {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    #skills .skills-content .row {
        grid-template-columns: repeat(2, 1fr);
    }
}    

/* Mobile Responsiv */
@media(max-width: 528px) {
    nav {
        text-align: center;
    }

    h2 {
        font-size: 30px;
    }

    nav ul li {
        margin: 1rem 1rem;
    }

    #skills .skills-content .row {
        grid-template-columns: 1fr;
    }
}